@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions, 
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}
.swipeable-list-item__leading-actions{
  @apply bg-[#388481];
}
.swipeable-list-item__trailing-actions {
  @apply bg-pink-600;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #15151E;
}